{% extends 'layout.twig' %}

{% block body %}

<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Đăng nhập/Đăng kí</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Trang Chủ<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Đăng nhập/Đăng kí</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

 <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Đăng kí
      </h1>
      {% if errors.length > 0 %}
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Lỗi</strong>
                    </div>
                    <div class="card-body">
                        {% for error in errors %}
                        <div class="alert alert-danger" role="alert">
                            {{error.msg|e}}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
      <form action="/page/registration" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
          />
        </div>
        <button type="submit" class="primary-btn">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/page/login">Login</a></p>
    </div>
  </div>
</div>


{% endblock %}